
body{
	background-image: url(../images/black.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: "Comic Sans", cursive, sans-serif;

}

.intro {
	font-size: 15px;
}

.h1 {
	color: red;
}

.boven {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 50px;
}

a {
	color: yellow;
	font-size: 15px
}

img {
	width: 10%;
	height: auto;
}

h3 {
	color: red;
}

.disclaimer {
	font-size: 30px;
	float: right;
	color: red;
}

.piclink {
	color: green;
	font-size: 20px;
}